/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&family=Figtree:wght@400;500;700&display=swap');

/* CSS Variables */
:root {
    --font-heading: 'DynaPuff', sans-serif;
    --font-body: 'Figtree', sans-serif;
    --background-color: #f5f5f5;
    --text-color: #000000;
    --primary-color: #000000;
    --button-bg-color: var(--primary-color);
    --button-text-color: #fff;
    --button-hover-bg-color: var(--glass-bg);
    --button-hover-color: var(--primary-color);
    --button-hover-transition: -4px;
    --button-border: 2px solid var(--primary-color);
    --border-radius: 50px;
    --transition-speed: 0.3s;
    --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    --glass-bg: rgba(255, 255, 255, 0.2);
    --backdrop-filter: blur(10px);
}

/* Reset and Box Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: var(--font-body);
    color: var(--text-color);
    background: linear-gradient(180deg, #fceabb 0%, #f8b200 100%);
    overflow-x: hidden;
}

/* Glassmorphism Container */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main Content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

/* Header Styles */
h1, h2, h3, h4{
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: clamp(1.5rem, 5vw, 4rem);
    color: var(--primary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.subtitle {
    font-size: 1rem;
}


/* Hidden Checkbox */
input[type="checkbox"] {
    display: none;
}

/* Chip Styles */
.chip {
    flex: 0 0 auto;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    background: var(--glass-bg);
    color: var(--primary-color);
    padding: 8px 10px;
    border-radius: var(--border-radius);
    backdrop-filter: var(--backdrop-filter);
    transition: opacity var(--transition-speed), color var(--transition-speed), transform var(--transition-speed);
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

.chip:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-color);
    transform: translateY(-2px);
}

input[type="checkbox"]:checked + label.chip {
    border: var(--primary-color) 2px solid;
}

input[type="checkbox"]:not(:checked) + label.chip {
    opacity: 40%;
}

/* General Buttons */
button {
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: inherit;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: var(--border-radius);
    transition: background-color var(--transition-speed), transform var(--transition-speed), border var(--transition-speed);
    box-shadow: var(--box-shadow);
}

button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-color);
    border: var(--button-border);
    transform: translateY(var(--button-hover-transition));
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

/* Anchor Buttons */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    text-decoration: none;
    border: var(--button-border);
    border-radius: var(--border-radius);
    transition: background-color var(--transition-speed), transform var(--transition-speed);
    font-size: 1rem;
    margin: 5px;
    box-shadow: var(--box-shadow);
}

.button i {
    margin-right: 8px;
}

.button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-color);
    transform: translateY(-2px);
}

/* Button Group */
.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

/* Filter Button Container */
.filter-button-container {
    text-align: right;
    margin: 20px;
}

/* Filter Button */
.filter-button {
    background: var(--glass-bg);
    color: var(--primary-color);
    border: var(--button-border);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

.filter-button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-color);
    transform: translateY(-2px);
}


/* Lottie Animation */
#lottie-animation {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

/* Result Styles */
#result {
    margin-top: 30px;
    font-size: 1.1rem;
    max-width: 600px;
    width: 100%;
    padding: 0 20px;
    text-align: left;
    min-height: 300px;
    position: relative;
}

#result > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bar-details.hidden {
    display: none;
}

#generateButton {
    margin: 20px 0;
}

/* Bar Details */
.bar-details {
    background: var(--glass-bg);
    padding: 20px;
    border-radius: var(--border-radius);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
}

.bar-details .bar-name {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
}

.bar-address {
    text-align: center;
    text-transform: capitalize;
}

.bar-details p {
    font-size: 1rem;
    line-height: 1.6;
}

/* Labels */
.labels {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.label {
    background-color: var(--glass-bg);
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: var(--button-border);
}

/* Estilos para el enlace "¿Cómo funciona?" */
.como-funciona-link {
    display: block;
    margin: 10px auto 0;
    font-size: 14px;
    color:var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
}

/* Additional Links */
.additional-links {
    margin-top: 15px;
    text-align: center;
    font-size: 0.7rem;
}

.additional-links a {
    color: var(--primary-color);
    text-decoration: underline;
    margin: 0 5px;
}

.additional-links a:hover {
    color: var(--button-hover-color);
}

.additional-links .separator {
    margin: 0 5px;
    color: var(--text-color);
}

.status-chip {
    position: absolute;
    left: 60%;
    top: 0px;
    padding: 8px 19px;
    border-radius: 0 0 30px 30px;
    color: white;
    font-size: 0.5em;
    box-shadow: 0px 3px 10px -7px black;
}

.status-chip.open {
    background-color: #28a745; /* Green */
}

.status-chip.closed {
    background-color: #dc3545; /* Red */
}

.bar-details {
    position: relative; /* To position the status chip correctly */
    /* Existing styles... */
}




/* Beer Fact */
.beer-fact {
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 30px;
    color: var(--primary-color);
    max-width: 600px;
    padding: 0 20px;
}

/* Badges */
#badges {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.badge {
    background: var(--glass-bg);
    padding: 10px 15px;
    border-radius: var(--border-radius);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    color: var(--text-color);
    transition: transform var(--transition-speed);
}

.badge i {
    color: var(--primary-color);
}

.badge:hover {
    transform: translateY(-2px);
}

/* Modal */
.modal {
    display: none;
    place-items: center;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: var(--backdrop-filter);
}

.modal-content {
    background: linear-gradient(180deg, #fceabb 0%, #f8b200 100%);
    padding: 20px;
    margin: 0;
    border: var(--button-border);
    width: 85%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: var(--border-radius);
    color: var(--primary-color);
    text-align: left;
    position: relative;
    box-shadow: var(--box-shadow);
    animation: fadeIn var(--transition-speed) ease-in-out;
}

/* Wrapper that allows positioning of character and bubble relative to each other */
.modal-header-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.character {
    position: absolute;
    top: -20px;    /* adjust as needed */
    right: 10px;      /* character in top-right corner */
    width: 80px;
    height: auto;
}

/* Speech Bubble Header */
.modal-header {
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--primary-color);
    border: none;          /* No outlined border */
    border-radius: 15px;   /* Rounded bubble corners */
    padding: 20px;
    text-align: left;
    /* Position the bubble slightly down and right relative to the character */
    margin-top: 80px; 
}

.modal-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 75%;
    transform: translateX(-50%) translateY(-100%);
    width: 0;
    height: 0;
    /* By making the left and right borders uneven, 
       the apex (top point) will shift to the right of center */
    border-right: -5px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 15px solid rgba(255, 255, 255, 0.4);
}


/* Adjust text inside the bubble */
.modal-header .speech-text {
    margin: 0;
}

/* Style text inside the bubble */
.modal-header p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    line-height: 1.4;
}

/* Modal Button */
.modal-button {
    display: block;
    margin: 20px auto 0; /* Ensure button is below the bubble and centered */
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

.modal-button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-color);
    border: var(--button-border);
    transform: translateY(var(--button-hover-transition));
}

#filter-modal .modal-header h2 {
    font-size: 1.8rem;
    margin-bottom: 0;
}

#filter-modal .modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

#filter-modal .modal-body h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

#filter-modal .filter-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

#filter-modal .chip {
    flex: 0 0 auto;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    background: var(--glass-bg);
    color: var(--primary-color);
    padding: 8px 10px;
    border-radius: var(--border-radius);
    backdrop-filter: var(--backdrop-filter);
    transition: opacity var(--transition-speed), color var(--transition-speed), transform var(--transition-speed);
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

#filter-modal .chip:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-color);
    transform: translateY(-2px);
}

#filter-modal input[type="checkbox"] {
    display: none;
}

#filter-modal input[type="checkbox"]:checked + label.chip {
    border: var(--primary-color) 2px solid;
}

#filter-modal input[type="checkbox"]:not(:checked) + label.chip {
    opacity: 40%;
}

#filter-modal .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

#filter-modal .modal-button {
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

#filter-modal .modal-button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-color);
    border: var(--button-border);
    transform: translateY(var(--button-hover-transition));
}

/* Toggle Container */
.toggle-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

/* Toggle Label */
.toggle-label {
    display: flex;
    align-items: center;
    font-size: 1em;
    cursor: pointer;
}

/* Hide the default checkbox */
.toggle-label input[type="checkbox"] {
    display: none;
}

/* Custom Toggle Switch */
.toggle-switch {
    position: relative;
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 24px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.toggle-switch::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 2px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Checked State */
.toggle-label input[type="checkbox"]:checked + .toggle-switch {
    background-color: #28a745;
}

.toggle-label input[type="checkbox"]:checked + .toggle-switch::before {
    transform: translateX(26px);
}




/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Footer */
footer {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-color);
    backdrop-filter: var(--backdrop-filter);
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Adjustments for small devices */
@media (max-width: 599px) {
    h1 {
        font-size: 2rem;
    }
    .button, .label, #filter-modal .modal-button, #filter-modal .chip, .filter-button {
        font-size: 0.7rem;
    }
    .bar-details .bar-name {
        font-size: 1.5rem;
    }
    .beer-fact {
        font-size: 0.875rem;
    }
    .modal-header h2 {
        font-size: 1.6rem;
    }
}

/* Adjustments for medium devices */
@media (min-width: 600px) and (max-width: 899px) {
    h1 {
        font-size: 2.5rem;
    }
    button {
        font-size: 1rem;
    }
    .bar-details .bar-name {
        font-size: 2rem;
    }
    .beer-fact {
        font-size: 1rem;
    }
}

/* Adjustments for large devices */
@media (min-width: 900px) {
    h1 {
        font-size: 3rem;
    }
    button {
        font-size: 1.1rem;
    }
    .bar-details .bar-name {
        font-size: 2.5rem;
    }
    .beer-fact {
        font-size: 1.125rem;
    }
}
